<!-- HEADER -->
<header data-ng-controller="HeaderController" ng-hide="isActive()">
  <!-- SLIDESHOW -->
  <section class="slideshow">
    <div class="container-fluid">
      <div class="r1 row">
        <div class="c1 col-md-12">
          <div class="carousel slide" id="slideshow-carousel-1" data-ride="carousel">
            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              <!-- Slide 2 -->
              <div class="item item-2 active parallax" data-speed="2">
                <div class="carousel-caption">
                  <div class="c2 hidden-xs col-sm-5 col-md-5">
                    <img class="img-responsive center-block" src="images/slideshow/phone.png" alt="Image">
                  </div>
                  <div class="c3 col-xs-12 col-sm-7 col-md-7">
                    <h2 class="title">On the web there are several solutions...but only one is right for your company.<br><small class="subtitle">MOS<span>7</span></small></h2>
                    <a class="btn btn-lg btn-danger" href="#" target="_blank"><i class="fa fa-apple"></i>App Store</a>
                    <a class="btn btn-lg btn-danger" href="#" target="_blank"><i class="fa fa-android"></i>Google Play</a>
                  </div>
                </div>
              </div><!-- End Slide 2 -->
            </div><!-- End Wrapper for Slides -->
          </div>
        </div>
      </div>
    </div>
  </section><!-- END SLIDESHOW -->
  <!-- NAVBAR -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and Toggle -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#anch-top">MOS<span>7</span></a>
      </div><!-- End Brand and Toggle -->
      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#anch-top">Home</a>
          </li>
          <li>
            <a href="#anch-features">Features</a>
          </li>
          <li>
            <a href="#anch-overview">Overview</a>
          </li>
          <li>
            <a href="#anch-gallery">Gallery</a>
          </li>
          <li>
            <a href="#anch-testimonials">Testimonials</a>
          </li>
          <li>
            <a href="#anch-pricing">Pricing</a>
          </li>
          <li>
            <a href="#anch-download">Download</a>
          </li>
          <li>
            <a href="#anch-contact">Contact</a>
          </li>
        </ul>
      </div><!-- End Menu -->
    </div>
  </nav><!-- END NAVBAR -->
</header><!-- END HEADER -->
