<!-- MAIN -->
<div class="main">
  <!-- FEATURES -->
  <section class="features" id="anch-features">
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h2 class="section-title">Meet</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div><!-- End Section Header -->
      <!-- Section Content -->
      <div class="r1 row">
        <!-- Block 1 -->
        <div class="c1 col-sm-6 col-md-3 animateblock ltr-2 speed-2">
          <div class="features-wrapper">
            <div class="features-icon"><span class="glyphicon glyphicon-tint"></span>
            </div>
            <div class="features-content">
              <h3 class="title">Clean & Simple Design</h3>
              <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis, augue dictum curabitur inceptos potenti justo fusce.</p>
            </div>
          </div>
        </div><!-- End Block 1 -->
        <!-- Block 2 -->
        <div class="c2 col-sm-6 col-md-3 animateblock ltr-1 speed-1">
          <div class="features-wrapper">
            <div class="features-icon"><span class="glyphicon glyphicon-fullscreen"></span>
            </div>
            <div class="features-content">
              <h3 class="title">Fully Responsive</h3>
              <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis, augue dictum curabitur inceptos potenti justo fusce.</p>
            </div>
          </div>
        </div><!-- End Block 2 -->
        <!-- Block 3 -->
        <div class="c3 col-sm-6 col-md-3 animateblock rtl-1 speed-1">
          <div class="features-wrapper">
            <div class="features-icon"><span class="glyphicon glyphicon-flag"></span>
            </div>
            <div class="features-content">
              <h3 class="title">Crossbrowser Compatible</h3>
              <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis, augue dictum curabitur inceptos potenti justo fusce.</p>
            </div>
          </div>
        </div><!-- End Block 3 -->
        <!-- Block 4 -->
        <div class="c4 col-sm-6 col-md-3 animateblock rtl-2 speed-2">
          <div class="features-wrapper">
            <div class="features-icon"><span class="glyphicon glyphicon-gift"></span>
            </div>
            <div class="features-content">
              <h3 class="title">Over 670 Font Icons</h3>
              <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis, augue dictum curabitur inceptos potenti justo fusce.</p>
            </div>
          </div>
        </div><!-- End Block 4 -->
      </div><!-- End Section Content -->
    </div>
  </section><!-- END FEATURES -->
  <!-- OVERVIEW -->
  <section class="overview" id="anch-overview">
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h2 class="section-title">Overview</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div><!-- End Section Header -->
      <!-- Section Content -->
      <div class="r1 row">
        <div class="c1 col-md-12">
          <!-- Nav Tabs -->
          <ul class="nav nav-justified nav-tabs">
            <li>
              <a class="btn-lg" data-toggle="tab" href="#overview-tab-1">What</a>
            </li>
            <li class="active">
              <a class="btn-lg" data-toggle="tab" href="#overview-tab-2">Why</a>
            </li>
            <li>
              <a class="btn-lg" data-toggle="tab" href="#overview-tab-3">How</a>
            </li>
          </ul><!-- End Nav Tabs -->
          <!-- Tab Panes -->
          <div class="tab-content">
            <!-- Tab Pane 1 -->
            <div class="tab-pane fade" id="overview-tab-1">
              <div class="r1 row">
                <!-- Block 1 -->
                <div class="c1 col-sm-6 col-md-6 col-sm-push-6">
                  <div class="img-perspective">
                    <img class="img-responsive center-block img-1" src="images/overview/overview_left_3.png" alt="Image">
                    <img class="img-responsive center-block img-2" src="images/overview/overview_left_2.png" alt="Image">
                    <img class="img-responsive center-block img-3" src="images/overview/overview_left_1.png" alt="Image">
                  </div>
                </div><!-- End Block 1 -->
                <!-- Block 2 -->
                <div class="c2 col-sm-6 col-md-6 col-sm-pull-6">
                  <div class="overview-wrapper">
                    <div class="overview-content">
                      <h3 class="title">Beautiful Animations<br><small class="subtitle">Subtitle Example</small></h3>
                      <p>Lorem ipsum eget lacinia nec ornare sed non, eu nulla torquent faucibus ligula velit nisi, iaculis suscipit consectetur porttitor hendrerit nisi est ac commodo mattis egestas aenean.</p>
                      <p>Vulputate hac massa ultrices praesent vulputate commodo ante justo, donec tempor etiam at quam etiam dui luctus sollicitudin ipsum cras eget malesuada tellus inceptos dictumst posuere porta hendrerit sed.</p>
                      <p>Elementum turpis justo facilisis molestie facilisis maecenas, proin nisl mattis volutpat libero habitant lacinia, interdum praesent molestie velit rhoncus lacus mollis velit nec mattis auctor metus inceptos fusce, faucibus phasellus lectus proin ullamcorper habitasse sed.</p>
                      <p>Consequat nisi aliquet sollicitudin nunc feugiat pretium at ipsum taciti integer, lacus dictum senectus purus vitae justo ultricies habitasse viverra habitant interdum, metus euismod aliquam morbi adipiscing egestas habitant lacus et.</p>
                    </div>
                  </div>
                </div><!-- End Block 2 -->
              </div>
            </div><!-- End Tab Pane 1 -->
            <!-- Tab Pane 2 -->
            <div class="tab-pane fade in active" id="overview-tab-2">
              <div class="r1 row">
                <!-- Block 1 -->
                <div class="c1 col-sm-4 col-md-4 col-sm-push-4 animateblock size-img speed-2">
                  <div class="img-wireframe">
                    <img class="img-responsive center-block img-4" src="images/overview/overview_center_1.png" alt="Image">
                    <img class="img-responsive center-block img-5" src="images/overview/overview_center_2.png" alt="Image">
                  </div>
                </div><!-- End Block 1 -->
                <!-- Block 2 -->
                <div class="c2 col-sm-4 col-md-4 col-sm-pull-4 animateblock ltr-3 speed-3">
                  <div class="overview-wrapper">
                    <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-heart"></span>
                    </div>
                    <div class="overview-content">
                      <h3 class="title">HTML5 & CSS3</h3>
                      <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis.</p>
                    </div>
                  </div>
                  <div class="overview-wrapper">
                    <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-cog"></span>
                    </div>
                    <div class="overview-content">
                      <h3 class="title">Bootstrap 3.3.1</h3>
                      <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis.</p>
                    </div>
                  </div>
                  <div class="overview-wrapper">
                    <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    <div class="overview-content">
                      <h3 class="title">Retina Ready</h3>
                      <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis.</p>
                    </div>
                  </div>
                </div><!-- End Block 2 -->
                <!-- Block 3 -->
                <div class="c3 col-sm-4 col-md-4 animateblock rtl-2 speed-3">
                  <div class="overview-wrapper">
                    <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-paperclip"></span>
                    </div>
                    <div class="overview-content">
                      <h3 class="title">Layered PSDs</h3>
                      <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis.</p>
                    </div>
                  </div>
                  <div class="overview-wrapper">
                    <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-book"></span>
                    </div>
                    <div class="overview-content">
                      <h3 class="title">Well Documented</h3>
                      <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis.</p>
                    </div>
                  </div>
                  <div class="overview-wrapper">
                    <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-headphones"></span>
                    </div>
                    <div class="overview-content">
                      <h3 class="title">Fast Support</h3>
                      <p class="description">Lorem ipsum consectetur ultrices ac facilisis est neque fames, eget vel libero egestas viverra lacinia facilisis.</p>
                    </div>
                  </div>
                </div><!-- End Block 3 -->
              </div>
            </div><!-- End Tab Pane 2 -->
            <!-- Tab Pane 3 -->
            <div class="tab-pane fade" id="overview-tab-3">
              <div class="r1 row">
                <!-- Block 1 -->
                <div class="c1 col-sm-6 col-md-6">
                  <div class="img-slide">
                    <img class="img-responsive center-block img-6" src="images/overview/overview_right_1.png" alt="Image">
                    <img class="img-responsive center-block img-7" src="images/overview/overview_right_2.png" alt="Image">
                  </div>
                </div><!-- End Block 1 -->
                <!-- Block 2 -->
                <div class="c2 col-sm-6 col-md-6">
                  <div class="overview-content">
                    <h3 class="title">User-friendly Codes<br><small class="subtitle">Subtitle Example</small></h3>
                    <p>Lorem ipsum sem suscipit habitant dictum risus scelerisque per, consequat ac vivamus arcu per nam sit torquent primis, curae turpis vivamus augue inceptos pharetra.</p>
                    <p>Eros luctus eu id eu metus potenti eros litora, a congue convallis iaculis sollicitudin nisi nam elementum, volutpat himenaeos egestas etiam ac eu molestie.</p>
                    <label><small>Feature 1</small>
                    </label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger progress-bar-30" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">30% Complete</span>
                      </div>
                    </div>
                    <label><small>Feature 2</small>
                    </label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger progress-bar-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">50% Complete</span>
                      </div>
                    </div>
                    <label><small>Feature 3</small>
                    </label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger progress-bar-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">70% Complete</span>
                      </div>
                    </div>
                    <label><small>Feature 4</small>
                    </label>
                    <div class="progress progress-last">
                      <div class="progress-bar progress-bar-danger progress-bar-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">90% Complete</span>
                      </div>
                    </div>
                  </div>
                </div><!-- End Block 2 -->
              </div>
            </div><!-- End Tab Pane 3 -->
          </div><!-- End Tab Panes -->
        </div>
      </div><!-- End Section Content -->
    </div>
  </section><!-- END OVERVIEW -->
  <!-- STATS -->
  <section class="stats hidden-xs">
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h2 class="section-title">Compare</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div><!-- End Section Header -->
      <!-- Section Content -->
      <div class="r1 row">
        <div class="c1 col-sm-6 col-md-3 animateblock size speed-1">
          <div class="animateblock circle" id="circle-1"></div>
          <p class="description"><i class="fa fa-road"></i> Thousands of miles traveled...</p>
        </div>
        <div class="c2 col-sm-6 col-md-3 animateblock size speed-1">
          <div class="animateblock circle" id="circle-2"></div>
          <p class="description"><i class="fa fa-star"></i>...thousands of dreams...</p>
        </div>
        <div class="c3 col-sm-6 col-md-3 animateblock size speed-1">
          <div class="animateblock circle" id="circle-3"></div>
          <p class="description"><i class="fa fa-eye"></i>...thousands of sleepless nights...</p>
        </div>
        <div class="c4 col-sm-6 col-md-3 animateblock size speed-1">
          <div class="animateblock circle" id="circle-4"></div>
          <p class="description"><i class="fa fa-smile-o"></i>...to get here...worth it!</p>
        </div>
      </div><!-- End Section Content -->
    </div>
  </section><!-- END STATS -->
  <!-- GALLERY -->
  <section class="gallery" id="anch-gallery">
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h2 class="section-title">See</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div><!-- End Section Header -->
      <!-- Section Content -->
      <div class="r1 row animateblock btt speed-1">
        <div class="c1 col-md-12" id="gallery-carousel-1">
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_1.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_1.jpg" alt="Screenshot 1">
            </a>
          </div>
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_2.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_2.jpg" alt="Screenshot 2">
            </a>
          </div>
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_3.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_3.jpg" alt="Screenshot 3">
            </a>
          </div>
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_4.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_4.jpg" alt="Screenshot 4">
            </a>
          </div>
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_1.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_1.jpg" alt="Screenshot 5">
            </a>
          </div>
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_2.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_2.jpg" alt="Screenshot 6">
            </a>
          </div>
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_3.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_3.jpg" alt="Screenshot 7">
            </a>
          </div>
          <div class="thumb-overlay">
            <a class="link-modal" data-gallery href="images/gallery/img_4.jpg">
              <img class="img-responsive thumb" src="images/gallery/img_4.jpg" alt="Screenshot 8">
            </a>
          </div>
        </div>
      </div><!-- End Section Content -->
      <!-- Modal -->
      <div class="blueimp-gallery blueimp-gallery-controls" id="blueimp-gallery">
        <div class="slides"></div>
        <a class="prev"><span class="fa fa-angle-left"></span></a>
        <a class="next"><span class="fa fa-angle-right"></span></a>
        <a class="close">×</a>
      </div><!-- End Modal -->
    </div>
  </section><!-- END GALLERY -->
  <!-- TESTIMONIALS -->
  <section class="testimonials" id="anch-testimonials">
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h2 class="section-title">Who</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div><!-- End Section Header -->
      <!-- Section Content -->
      <div class="r1 row animateblock btt speed-1">
        <div class="c1 col-md-12">
          <div class="carousel slide fade" id="testimonials-carousel-1" data-ride="carousel">
            <!-- Controls -->
            <div class="testimonials-controls">
              <a class="arrow-left" data-slide="prev" href="#testimonials-carousel-1" role="button"><span class="fa fa-angle-left"></span></a>
              <a class="arrow-right" data-slide="next" href="#testimonials-carousel-1" role="button"><span class="fa fa-angle-right"></span></a>
            </div><!-- End Controls -->
            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              <!-- Testimonial 1 -->
              <div class="item active">
                <div class="testimonials-photo">
                  <img src="images/testimonials/testimonial_1.jpg" alt="Testimonial 1">
                </div>
                <div class="testimonials-info">
                  <cite class="author" title="Source Title 1">John Smith I</cite>
                  <a class="link-company" href="#" target="_blank">Company Example 1</a>
                </div>
                <blockquote>
                  <p>Lorem ipsum feugiat ad habitasse fermentum a venenatis interdum cubilia urna, consequat cubilia euismod a purus mattis facilisis pulvinar et, ornare egestas vehicula feugiat nostra eget nostra elit habitant.</p>
                </blockquote>
              </div><!-- End Testimonial 1 -->
              <!-- Testimonial 1 -->
              <div class="item">
                <div class="testimonials-photo">
                  <img src="images/testimonials/testimonial_2.jpg" alt="Testimonial 2">
                </div>
                <div class="testimonials-info">
                  <cite class="author" title="Source Title 2">John Smith II</cite>
                  <a class="link-company" href="#" target="_blank">Company Example 2</a>
                </div>
                <blockquote>
                  <p>Nam dapibus sit est sem ut enim inceptos diam, tincidunt porttitor platea eleifend fringilla malesuada elit litora enim, aliquet curabitur ultricies quisque vulputate luctus fusce ultricies odio conubia egestas imperdiet donec nec dictum justo.</p>
                </blockquote>
              </div><!-- End Testimonial 2 -->
              <!-- Testimonial 2 -->
              <div class="item">
                <div class="testimonials-photo">
                  <img src="images/testimonials/testimonial_3.jpg" alt="Testimonial 3">
                </div>
                <div class="testimonials-info">
                  <cite class="author" title="Source Title 3">John Smith III</cite>
                  <a class="link-company" href="#" target="_blank">Company Example 3</a>
                </div>
                <blockquote>
                  <p>Cubilia phasellus massa diam sed tincidunt elit etiam posuere habitasse netus molestie, congue at nam semper ultrices laoreet sapien eleifend libero nec odio felis, donec neque himenaeos risus a convallis pulvinar posuere odio feugiat.</p>
                </blockquote>
              </div><!-- End Testimonial 3 -->
            </div><!-- End Wrapper for Slides -->
          </div>
        </div>
      </div><!-- End Section Content -->
    </div>
  </section><!-- END TESTIMONIALS -->
  <!-- PRICING -->
  <section class="pricing attached col3" id="anch-pricing">
    <div class="container">
      <!--- Section Header -->
      <div class="section-header">
        <h2 class="section-title">Choose</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div>
      <!--- End Section Header -->
      <!-- Section Content - Attached 3 Columns -->
      <div class="r1 row animateblock btt speed-1">
        <!--- Table 1 -->
        <div class="c1 col-sm-4 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="title">BASIC</h3>
            </div>
            <div class="panel-body">
              <!--- Price -->
              <div class="plan-price">
                <span class="price">$19<sup>.00</sup></span>
                <span class="per-month">/month</span>
              </div>
              <!--- Features -->
              <ul class="list-unstyled plan-features">
                <li>Lorem ipsum ligula facilisis duis</li>
                <li>Turpis viverra amet bibendum</li>
                <li>Convallis eleifend ullamcorper</li>
                <li>Ultricies at et mauris bibendum</li>
                <li>Non felis ligula per proin nam</li>
              </ul>
            </div>
            <div class="panel-footer">
              <a class="btn btn-block btn-lg btn-danger signup" href="#">Sign Up</a>
            </div>
          </div>
        </div>
        <!--- End Table 1 -->
        <!-- Table 2 - Popular -->
        <div class="c2 col-sm-4 col-md-4 popular">
          <div class="panel panel-default panel-popular">
            <div class="badge-popular"></div>
            <div class="panel-heading">
              <h3 class="title">PRO</h3>
            </div>
            <div class="panel-body">
              <!--- Price -->
              <div class="plan-price">
                <span class="price">$29<sup>.00</sup></span>
                <span class="per-month">/month</span>
              </div>
              <!--- Features -->
              <ul class="list-unstyled plan-features">
                <li>Lorem ipsum ligula facilisis duis</li>
                <li>Turpis viverra amet bibendum</li>
                <li>Convallis eleifend ullamcorper</li>
                <li>Ultricies at et mauris bibendum</li>
                <li>Non felis ligula per proin nam</li>
              </ul>
            </div>
            <div class="panel-footer">
              <a class="btn btn-block btn-lg btn-danger signup" href="#">Sign Up</a>
            </div>
          </div>
        </div>
        <!--- End Table 2 -->
        <!--- Table 3 -->
        <div class="c3 col-sm-4 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="title">ENTERPRISE</h3>
            </div>
            <div class="panel-body">
              <!--- Price -->
              <div class="plan-price">
                <span class="price">$39<sup>.00</sup></span>
                <span class="per-month">/month</span>
              </div>
              <!--- Features -->
              <ul class="list-unstyled plan-features">
                <li>Lorem ipsum ligula facilisis duis</li>
                <li>Turpis viverra amet bibendum</li>
                <li>Convallis eleifend ullamcorper</li>
                <li>Ultricies at et mauris bibendum</li>
                <li>Non felis ligula per proin nam</li>
              </ul>
            </div>
            <div class="panel-footer">
              <a class="btn btn-block btn-lg btn-danger signup" href="#">Sign Up</a>
            </div>
          </div>
        </div>
        <!--- End Table 3 -->
      </div>
      <!--- End Section Content -->
    </div>
  </section><!-- END PRICING -->
  <!-- CALL TO ACTION - Download / Newsletter -->
  <section class="calltoaction" id="anch-download">
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h2 class="section-title">Get it</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div><!-- End Section Header -->
      <!-- Section Content -->
      <div class="r1 row">
        <div class="c1 col-md-12">
          <!-- Download Buttons -->
          <div class="download-buttons animateblock ltr-2 speed-1">
            <a class="btn btn-lg btn-danger" href="#" target="_blank"><i class="fa fa-apple"></i>App Store</a>
            <a class="btn btn-lg btn-danger" href="#" target="_blank"><i class="fa fa-android"></i>Google Play</a>
          </div>
          <!-- Newsletter -->
          <div class="newsletter-wrapper animateblock rtl-2 speed-1">
            <h3>Do you want to know more?</h3>
            <form class="form-inline" role="form">
              <div class="form-group input-group">
                <label class="sr-only" for="newsletteremail">Email address</label>
                <input class="form-control" id="newsletteremail" type="email" placeholder="Enter email">
                <div class="input-group-btn">
                  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" type="button">Sign Up <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">Subscribe</a>
                    </li>
                    <li><a href="#">Unsubscribe</a>
                    </li>
                  </ul>
                </div>
              </div>
              <small class="help-block">Don't worry. We do not spam :)</small>
            </form>
          </div><!-- End Newsletter -->
        </div>
      </div><!-- End Section Content -->
    </div>
  </section><!-- END CALL TO ACTION -->
  <!-- CONTACT -->
  <section class="contact" id="anch-contact">
    <div class="container-fluid">
      <!-- Section Header -->
      <div class="section-header">
        <h2 class="section-title">Communicate</h2>
        <h3 class="section-subtitle">Lorem ipsum per fames turpis tempor elementum felis venenatis, odio vivamus sagittis massa platea</h3>
      </div><!-- End Section Header -->
      <!-- Section Content -->
      <div class="r1 row">
        <div class="c1 col-md-12">
          <!-- Map accordion -->
          <div class="panel-group" id="contact-accordion-1">
            <div class="panel panel-default">
              <h3 class="map-title">
                <a data-toggle="collapse" data-parent="#contact-accordion-1" href="#contact-collapse-1"><span class="glyphicon glyphicon-map-marker"></span><br>Where</a>
              </h3>
              <div class="panel-collapse collapse in" id="contact-collapse-1">
                <div class="panel-body">
                  <!-- Map -->
                  <div class="map-wrapper">
                    <!-- Here is where the map will be rendered -->
                    <div id="map-canvas"></div>
                    <!-- Address over the map -->
                    <address class="alert vcard">
                      <button class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <div class="org">
                        <strong>Your Company</strong>
                      </div>
                      <div class="adr">
                        <span class="street-address">76 Ninth Avenue - 7th floor</span>
                        <span class="locality">New York</span>,
                        <span class="region">NY 10011</span> -
                        <span class="country-name">USA</span>
                      </div>
                      <div class="tel">
                        <span class="tel-1">+1 212-565-0000</span>
                        <span class="tel-2">+1 212-565-0001</span>
                      </div>
                      <div class="email">
                        <!-- Anti spam protection. Keep the codes: "&#x3a;" (= ":") / "&#x40;" (= "@") / "&#x2e;" (= ".") -->
                        <span class="email-contact"><a href="mailto&#x3a;contact&#x40;yourcompany&#x2e;com" data-user="contact" data-domain="yourcompany.com"></a></span>
                        <span class="email-support"><a href="mailto&#x3a;support&#x40;yourcompany&#x2e;com" data-user="support" data-domain="yourcompany.com"></a></span>
                      </div>
                    </address><!-- End Address over the map -->
                  </div><!-- End Map -->
                </div>
              </div>
            </div>
          </div><!-- End Map accordion -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="r1 row">
        <div class="c1 col-md-10 col-md-offset-1">
          <div class="alerts hidden-xs"></div>
          <!-- Contact form -->
          <div class="form-horizontal contact-form" role="form">
            <fieldset>
              <legend>Contact</legend>
              <div class="r1 row form-group">
                <div class="c1 col-sm-6 col-md-6">
                  <input class="form-control" id="fname" name="fname" type="text" placeholder="First Name *" required>
                </div>
                <div class="c2 col-sm-6 col-md-6">
                  <input class="form-control" id="lname" name="lname" type="text" placeholder="Last Name *" required>
                </div>
              </div>
              <div class="r2 row form-group">
                <div class="c1 col-sm-6 col-md-6">
                  <input class="form-control" id="email" name="email" type="email" placeholder="Email *" required>
                </div>
                <div class="c2 col-sm-6 col-md-6">
                  <input class="form-control" id="phone" name="phone" type="tel" placeholder="Phone">
                </div>
              </div>
              <div class="r3 row form-group">
                <div class="c1 col-sm-6 col-md-6">
                  <input class="form-control" id="company" name="company" type="text" placeholder="Company">
                </div>
                <div class="c2 col-sm-6 col-md-6">
                  <input class="form-control" id="website" name="website" type="url" placeholder="Website">
                </div>
              </div>
              <div class="r4 row form-group">
                <div class="c1 col-md-12">
                  <input class="form-control" id="subject" name="subject" type="text" placeholder="Subject *" required>
                </div>
              </div>
              <div class="r5 row form-group">
                <div class="c1 col-md-12">
                  <textarea class="form-control" id="message" name="message" rows="10" placeholder="Message *" required></textarea>
                </div>
              </div>
              <div class="r6 row form-group">
                <div class="c1 col-md-12">
                  <button class="btn btn-lg btn-danger submit-form" type="submit">Send Message</button>
                </div>
              </div>
            </fieldset>
          </div><!-- End Contact form -->
          <div class="alerts alerts-xs hidden-sm hidden-md hidden-lg"></div>
        </div>
      </div>
    </div><!-- End Section Content -->
  </section><!-- END CONTACT -->
</div><!-- END MAIN -->
<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <div class="r1 row">
      <div class="c1 col-md-12">
        <h1 class="footer-logo">MOS<span>7</span></h1>
        <!-- Social Buttons -->
        <section class="social-icons">
          <h3 class="hide">Social Buttons</h3>
          <a class="btn-social facebook" data-toggle="tooltip" data-placement="top" data-original-title="Facebook" href="#" title=""><i class="fa fa-facebook"></i></a>
          <a class="btn-social twitter" data-toggle="tooltip" data-placement="top" data-original-title="Twitter" href="#" title=""><i class="fa fa-twitter"></i></a>
          <a class="btn-social google-plus" data-toggle="tooltip" data-placement="top" data-original-title="Google+" href="#" title=""><i class="fa fa-google-plus"></i></a>
          <a class="btn-social youtube" data-toggle="tooltip" data-placement="top" data-original-title="Youtube" href="#" title=""><i class="fa fa-youtube"></i></a>
          <a class="btn-social instagram" data-toggle="tooltip" data-placement="top" data-original-title="Instagram" href="#" title=""><i class="fa fa-instagram"></i></a>
          <a class="btn-social email" data-toggle="tooltip" data-placement="top" data-original-title="Email" href="#" title=""><i class="fa fa-envelope"></i></a>
          <a class="btn-social rss" data-toggle="tooltip" data-placement="top" data-original-title="RSS" href="#" title=""><i class="fa fa-rss"></i></a>
        </section><!-- End Social Buttons -->
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="r1 row">
        <div class="c1 col-md-12">
          <p>&copy; 2014 - Mos7. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer><!-- END FOOTER -->
<a class="go-top" href="#anch-top"><i class="fa fa-chevron-up"></i></a>
