<header class="full-screen">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="modules/core/img/moose.jpg" alt="">
        <div class="intro-text">
          <span class="name">Design Your Own T-Shirts</span>
          <hr class="star-light">
          <span class="skills">And Sale To The Rest Of The World</span>
        </div>
        <br/>
        <a href="#!/designer" type="button" class="btn btn-lg btn-success">
          Get Started
          <i class="glyphicon glyphicon-white"></i>
        </a>
      </div>
    </div>
  </div>
</header>

<section id="featured-campaigns">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Featured Campaigns</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 featured-campaign-item">
        <a href="#featured-campaign-1" class="featured-campaign-link"
          data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="modules/core/img/tshirt1.jpg" class="img-responsive" alt="" />
        </a>
      </div>
      <div class="col-sm-4 featured-campaign-item">
        <a href="#featured-campaign-2" class="featured-campaign-link"
          data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="modules/core/img/tshirt2.png" class="img-responsive" alt="" />
        </a>
      </div>
      <div class="col-sm-4 featured-campaign-item">
        <a href="#featured-campaign-3" class="featured-campaign-link"
          data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="modules/core/img/tshirt3.jpg" class="img-responsive" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>

<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Ready to launch your tee? <a href="#!/designer">Get started now!</a></h2>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Us</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Here Goes Our Awesome Contact Information.</p>
      </div>
    </div>
  </div>
</section>


<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>7 Ekmansgatan
            <br>Gothenborg 41256, Sweden</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="/#!/" class="btn-social btn-outline">
                <i class="fa fa-fw fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="/#!/" class="btn-social btn-outline">
                <i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="/#!/" class="btn-social btn-outline">
                <i class="fa fa-fw fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="/#!/" class="btn-social btn-outline">
                <i class="fa fa-fw fa-wechat"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Monadex.io</h3>
          <p>
            Monadex.io is an organization that's dedicated in
            helping making more apparels with personalities.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2014 - Monadex.io
        </div>
      </div>
    </div>
  </div>
</footer>
