<section>
  <div class="col-lg-2"></div>
  <div class="col-lg-4 row">
    <h3 class="col-md-12 text-center">Sign up with Meanadex</h3>
    <div class="col-md-12">
      <form name="userForm" data-ng-submit="signup()"
            class="signin form-horizontal"
            novalidate autocomplete="off">
        <fieldset>
          <table class="table table-striped">
            <tr class="form-group">
              <td for="firstName">First Name</td>
              <td>
                <input type="text" required id="firstName" name="firstName"
                       class="form-control"
                       data-ng-model="credentials.firstName"
                       placeholder="First Name"/>
              </td>
            </tr>
            <tr class="form-group">
              <td for="lastName">Last Name</td>
              <td>
                <input type="text" id="lastName" name="lastName"
                       class="form-control"
                       data-ng-model="credentials.lastName"
                       placeholder="Last Name">
              </td>
            </tr>
            <tr class="form-group">
              <td for="email">Email</td>
              <td>
                <input type="email" id="email" name="email"
                       class="form-control"
                       data-ng-model="credentials.email"
                       placeholder="Email">
              </td>
            </tr>
            <tr class="form-group">
              <td for="username">Username</td>
              <td>
                <input type="text" id="username" name="username"
                       class="form-control"
                       data-ng-model="credentials.username"
                       placeholder="Username">
              </td>
            </tr>
            <tr class="form-group">
              <td for="password">Password</td>
              <td>
                <input type="password" id="password" name="password"
                       class="form-control"
                       data-ng-model="credentials.password"
                       placeholder="Password">
              </td>
            </tr>
          </table>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
            <a href="/#!/signin" class="show-signup">Sign in</a>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-lg-4 row">
    <h3 class="col-md-12 text-center">Or login with your social accounts...</h3>
    <div class="col-md-12 text-center">
      <table class="table">
        <tr>
          <td>
            <a href="/auth/facebook"
               class="undecorated-link btn btn-primary col-md-12">
              <i class="fa fa-facebook fa-lg"/>
              Login with Facebook
            </a>
          </td>
        </tr>
        <tr>
          <td>
          <a href="/auth/twitter"
             class="undecorated-link btn btn-info col-md-12">
            <i class="fa fa-twitter fa-lg"/>
            Login with Twitter
          </a>
          </td>
        </tr>
        <tr>
          <td>
          <a href="/auth/google"
             class="undecorated-link btn btn-danger col-md-12">
            <i class="fa fa-google-plus fa-lg"/>
            Login with Google
          </a>
          </td>
        </tr>
        <tr>
          <td>
          <a href="/auth/linkedin"
             class="undecorated-link btn btn-warning col-md-12">
            <i class="fa fa-linkedin fa-lg"/>
            Login with Linkedin
          </a>
          </td>
        </tr>
        <tr>
          <td>
          <a href="/auth/github"
             class="undecorated-link btn btn-default col-md-12">
            <i class="fa fa-github fa-lg"/>
            Login with Github
          </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-2"></div>
</section>
