<section class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-4 row">
    <h3 class="col-md-12 text-center">Sign in with Meanadex</h3>
    <div class="col-md-12">
      <form data-ng-submit="signin()" class="signin form-horizontal"
            autocomplete="off">
        <fieldset>
          <table class="table table-striped">
            <tr class="form-group">
              <td for="username">Username</td>
              <td>
                <input type="text" id="username" name="username"
                       class="form-control"
                       data-ng-model="credentials.username"
                       placeholder="Username">
              </td>
            </tr>
            <tr class="form-group">
              <td for="password">Password</td>
              <td>
                <input type="password" id="password" name="password"
                       class="form-control"
                       data-ng-model="credentials.password"
                       placeholder="Password">
              </td>
            </tr>
          </table>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
            <a href="/#!/signup">Sign up</a>
          </div>
          <div class="text-center forgot-password">
            <a href="/#!/user/password/forgot">Forgot your password?</a>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-lg-4 row">
    <md-social-login></md-social-login>
  </div>
  <div class="col-lg-2"></div>
</section>
