<section>
  <div class="col-lg-2"></div>
  <div class="col-lg-4 row">
    <h3 class="col-md-12 text-center">Sign up with Meanadex</h3>
    <div class="col-md-12">
      <form name="userForm" data-ng-submit="signup()"
            class="signin form-horizontal"
            novalidate autocomplete="off">
        <fieldset>
          <table class="table table-striped">
            <tr class="form-group">
              <td for="firstName">First Name</td>
              <td>
                <input type="text" required id="firstName" name="firstName"
                       class="form-control"
                       data-ng-model="credentials.firstName"
                       placeholder="First Name"/>
              </td>
            </tr>
            <tr class="form-group">
              <td for="lastName">Last Name</td>
              <td>
                <input type="text" id="lastName" name="lastName"
                       class="form-control"
                       data-ng-model="credentials.lastName"
                       placeholder="Last Name">
              </td>
            </tr>
            <tr class="form-group">
              <td for="email">Email</td>
              <td>
                <input type="email" id="email" name="email"
                       class="form-control"
                       data-ng-model="credentials.email"
                       placeholder="Email">
              </td>
            </tr>
            <tr class="form-group">
              <td for="username">Username</td>
              <td>
                <input type="text" id="username" name="username"
                       class="form-control"
                       data-ng-model="credentials.username"
                       placeholder="Username">
              </td>
            </tr>
            <tr class="form-group">
              <td for="password">Password</td>
              <td>
                <input type="password" id="password" name="password"
                       class="form-control"
                       data-ng-model="credentials.password"
                       placeholder="Password">
              </td>
            </tr>
          </table>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
            <a href="/#!/signin" class="show-signup">Sign in</a>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-lg-4 row">
    <md-social-login></md-social-login>
  </div>
  <div class="col-lg-2"></div>
</section>
