<h3 class="col-md-12 text-center">Or with social accounts...</h3>
<div class="col-md-12 text-center">
  <table class="table">
    <tr>
      <td>
        <a href="/auth/facebook"
           class="undecorated-link btn btn-primary col-md-12">
          <i class="fa fa-facebook fa-lg"/>
          Login with Facebook
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/auth/twitter"
           class="undecorated-link btn btn-info col-md-12">
          <i class="fa fa-twitter fa-lg"/>
          Login with Twitter
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/auth/google"
           class="undecorated-link btn btn-danger col-md-12">
          <i class="fa fa-google-plus fa-lg"/>
          Login with Google
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/auth/linkedin"
           class="undecorated-link btn btn-warning col-md-12">
          <i class="fa fa-linkedin fa-lg"/>
          Login with Linkedin
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/auth/github"
           class="undecorated-link btn btn-default col-md-12">
          <i class="fa fa-github fa-lg"/>
          Login with Github
        </a>
      </td>
    </tr>
  </table>
</div>
