<div class="container">
  <section id="typography">
    <div class="span12">
      <div class="col-lg-4">
        <md-campaign-summary-panel
           campaign-title="campaignTitle"
           campaign-description="campaignDescription"
           campaign-sales-goal="campaignSalesGoal"
           campaign-url="campaignUrl"
           current-campaign-length="currentCampaignLength"
           campaign-lengths="campaignLengths"
           tshirt-type="tshirtType"
           tshirt-variant="tshirtVariant"
           tshirt-base-cost="tshirtBaseCost"
           tshirt-price="tshirtPrice">
        </md-campaign-summary-panel>
      </div>
      <div class="col-lg-8">
        <md-tshirt-canvas></md-tshirt-canvas>
      </div>
    </div>
  </section>
</div>
