<div class="page campaignTshirtDiv" ng-style="backgroundColor" ng-hide="error">
  <img data-ng-src="{{backgroundImage}}"></img>
  <div id="drawingArea"
       class="campaignTshirtArea">
    <img data-ng-src="{{canvasImgSrc}}"/>
  </div>

  <div class="flipButtonDiv">
    <button type="button"
            data-ng-click="flip()"
            class="btn monadex-btn-primary">
      <span class="fa fa-retweet">
      </span>
      {{flipText}}
    </button>
  </div>
</div>
<div ng-show="error">
  {{error.message}}
</div>
