<div class="page tshirtDiv" ng-style="backgroundColor" ng-hide="error">
  <img data-ng-src="{{backgroundImage}}"></img>
  <div id="drawingArea"
    class="tshirtDrawingArea">
    <canvas id="tcanvas" width="200" height="400" class="hover tshirtCanvas"></canvas>
  </div>

  <div class="flipButtonDiv">
    <button type="button"
            data-ng-click="flip()"
            class="btn monadex-btn-primary">
      <span class="fa fa-retweet">
      </span>
      {{flipText}}
    </button>
  </div>
</div>
<div ng-show="error">
  {{error.message}}
</div>
