<div id="shirtDiv" class="page tshirtDiv" ng-style="backgroundColor">
  <img id="tshirtFacing" data-ng-src="{{backgroundImage}}"></img>
  <div id="drawingArea"
    class="tshirtDrawingArea">
    <canvas id="tcanvas" width="200" height="400" class="hover tshirtCanvas"></canvas>
  </div>

  <div class="flipButtonDiv">
    <button id="flip"
            type="button"
            data-ng-click="flip()"
            class="btn monadex-btn-primary">
      <span class="fa fa-retweet">
      </span>
      {{flipText}}
    </button>
  </div>
</div>
