<div id="list-all-campaigns" data-ng-init="loadAllCampaignsInTableData()">
  <div class="col-lg-12" data-ng-show="campaigns.length > 0">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
      <tr ng-repeat="campaign in $data">
        <td data-title="'Name'" filter="{ 'name': 'text' }">
          <span ng-if="!campaign.$edit">{{campaign.name}}</span>
          <div ng-if="campaign.$edit">
            <input class="form-control" type="text" ng-model="campaign.name" />
          </div>
        </td>
        <td data-title="'Description'" filter="{ 'description': 'text' }">
          <span ng-if="!campaign.$edit" ng-bind-html="campaign.description"></span>
          <div ng-if="campaign.$edit">
            <input class="form-control"
                   type="text"
                   ng-model="campaign.description" />
          </div>
        </td>
        <td data-title="'Length'">
          <span>{{campaign.length}}</span>
        </td>
        <td data-title="'Created at'">
          <span>{{campaign.created_at | date:'mediumDate' }}</span>
        </td>
        <td data-title="'End at'">
          <span>{{campaign.ended_at | date:'mediumDate'}}</span>
        </td>
        <td data-title="'Goal'">
          <span>{{campaign.goal}}</span>
        </td>
        <td data-title="'Sold'">
          <span>{{campaign.sold}}</span>
        </td>
        <td data-title="'Price'">
          <span>{{campaign.price.value}} {{campaign.price.unit}}</span>
        </td>
        <td data-title="'Actions'">
          <a data-ng-if="!campaign.$edit" href=""
             class="fa fa-edit fa-fw"
             data-ng-click="onEdit(campaign)"/>
          <a ng-if="campaign.$edit" href=""
             class="fa fa-save fa-fw"
             data-ng-click="onSave(campaign)"/>
          <a class="fa fa-eye fa-fw" data-ng-href="#!/campaigns/{{campaign._id}}"/>
          <a class="fa fa-trash-o fa-fw" data-ng-click="onRemove(campaign);"/>
        </td>
      </tr>
    </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!campaigns.$resolved || campaigns.length">
    No Campaigns yet, why don't you
    <a href="#!/designer" type="button" class="btn btn-lg btn-success">
      Get Started
      <i class="glyphicon glyphicon-white"></i>
    </a>
  </div>
</div>
