<div class="container" data-ng-init="findOne()">
  <section>
    <div class="span12">
      <div class="col-lg-4">

        <!--Select types of the T-Shirts-->
        <div class="well">
          <h4>{{campaign.title}}</h4>

          <p ng-bind-html="campaign.description"></p>

          <hr/>

          <table class="table">
            <tr class="">
              <td class="">Campaign sales goal</td>
              <td class="" data-ng-bind="campaign.goal"></td>
            </tr>
            <tr class="">
              <td class="">Campaign URL</td>
              <td class="" data-ng-bind="campaign.url"></td>
            </tr>
            <tr class="">
              <td class="">Campaign length</td>
              <td class="" data-ng-bind="campaign.length"></td>
            </tr>
            <tr class="">
              <td class="">Tshirt basecost</td>
              <td>{{ campaign.tshirt.currentVariant.baseCost }} {{ campaign.tshirt.currentVariant.currency }}</td>
            </tr>
            <tr class="">
              <td class="">Tshirt price</td>
              <td>{{ campaign.price.value }} {{ campaign.price.currency }}</td>
            </tr>
            <tr class="">
              <td class="">Sold</td>
              <td>{{ campaign.sold }}</td>
            </tr>
          </table>

          <div class="" data-ng-if="campaign.ended_at">
            <timer end-time="campaign.ended_at">
              <table class="table">
                <tr>
                  <td>Days</td>
                  <td>Hours</td>
                  <td>Minutes</td>
                  <td>Seconds</td>
                </tr>
                <tr class="info">
                  <td>{{days}}</td>
                  <td>{{hours}}</td>
                  <td>{{minutes}}</td>
                  <td>{{seconds}}</td>
                </tr>
              </table>
            </timer>
          </div>

          <hr/>
          <a id="order"
             data-ng-click="reserveCampaign(campaign)"
             type="button"
             class="btn btn-lg btn-block btn-success"
             name="order">
            Make reservation
            <i class="glyphicon glyphicon-shopping-cart glyphicon-white"></i>
          </a>
        </div>

        <small>
          <em class="text-muted">
            Posted on
            <span data-ng-bind="campaign.created_at | date:'mediumDate'"></span>
            by
            <span data-ng-bind="campaign.user.displayName"></span>
          </em>
        </small>
      </div>

      <div class="col-lg-8">
        <!-- use json from the current campaign instead -->
        <md-tshirt-canvas></md-tshirt-canvas>
      </div>
    </div>
  </section>
</div>
