<div class="container">
  <section id="typography">
    <div class="span12">
      <div class="col-lg-4">
        <md-sales-goal-panel tshirts-sales-goal="tshirtsSalesGoal"
                             tshirts-sales-goal-min="tshirtsSalesGoalMin"
                             tshirts-sales-goal-max="tshirtsSalesGoalMax"
                             tshirt-price="tshirtPrice">
        </md-sales-goal-panel>

      </div>

      <div class="col-lg-8">
        <md-tshirt-canvas></md-tshirt-canvas>
      </div>
    </div>
  </section>
</div>
