<div class="page-header">
  <h3>New Tshirt</h3>
</div>
<div class="col-md-12" data-ng-init="createOne()">
  <form class="form-horizontal" data-ng-submit="create()" novalidate>
    <fieldset>
      <div class="form-group">
        <div class="controls">
          <span class="col-md-4">
            <label class="control-label" for="name">Name</label>
            <input type="text" data-ng-model="name" id="name"
                   class="form-control" placeholder="Name" required>
          </span>
          <span class="col-md-4">
            <label class="control-label" for="frontImage">Front image</label>
            <md-image-upload uploader="frontUploader"
                             current-queue-item="currentQueueItemFront"
                             display-upload="false">
            </md-image-upload>
          </span>
          <span class="col-md-4">
            <label class="control-label" for="backImage">Back image</label>
            <md-image-upload uploader="backUploader"
                             current-queue-item="currentQueueItemBack"
                             display-upload="false">
          </span>
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <span class="col-md-3">
          <label class="control-label" for="name">Variant name</label>
          <input type="text" data-ng-model="tmpVariant.name" id="name"
                 class="form-control" placeholder="Name" required>
        </span>
        <span class="col-md-3">
          <label class="control-label" for="description">Description</label>
          <input type="text" data-ng-model="tmpVariant.description" id="description"
                 class="form-control" placeholder="Description" required>
        </span>
        <span class="col-md-3">
          <label class="control-label" for="baseCost">Base cost</label>
          <input type="text" data-ng-model="tmpVariant.baseCost" id="baseCost"
                 class="form-control" placeholder="0" required>
        </span>
        <span class="col-md-3">
          <label class="control-label" for="unit">Unit</label>
          <input type="text" data-ng-model="tmpVariant.unit" id="unit"
                 class="form-control" placeholder="SEK" required>
        </span>
        <span class="col-md-12">
          <label class="control-label" for="unit">Color</label>
          <md-tshirt-color-editor variant="tmpVariant"
                                  removecolor="removeVariantColor"
                                  addcolor="addVariantColor">
          </md-tshirt-color-editor>
        </span>
      </div>
      <hr/>
      <div class="form-group">
        <span class="col-md-12">
          <input type="submit" class="btn btn-default">
        </span>
      </div>
      <div data-ng-show="error" class="text-danger">
        <span class="col-md-12">
	  <strong data-ng-bind="error"></strong>
        </span>
      </div>
    </fieldset>
  </form>
</div>
