<div id="list-tshirts" data-ng-init="loadAllTshirtInTableData()">
  <div class="col-lg-12" data-ng-show="tshirts.length > 0">
    <table ng-table="tshirtsTableParams" show-filter="true"
           class="table table-bordered">
      <tr ng-repeat="tshirt in $data">
        <td data-title="'Name'" filter="{ 'name': 'text' }">
          <span>{{tshirt.name}}</span>
        </td>
        <td data-title="'Created at'">
          <span>{{tshirt.created | date:'mediumDate' }}</span>
        </td>
        <td data-title="'Actions'">
          <a class="undecorated-link fa fa-eye fa-lg"
             ui-sref="dashboard.tshirtDetail({tshirtId: tshirt._id})"/>
          <a class="undecorated-link fa fa-trash-o fa-lg"
             data-ng-click="onRemove(tshirt);"/>
        </td>
      </tr>
    </table>
    <a ui-sref="dashboard.tshirtCreate" type="button" class="btn btn-lg btn-default">
      Add Tshirt
      <i class="glyphicon glyphicon-white"></i>
    </a>
  </div>
  <div class="alert alert-warning text-center"
       data-ng-hide="!tshirts.$resolved || tshirts.length">
    There isn't any Tshirts yet,
    <a ui-sref="dashboard.tshirtCreate" type="button">
      add one.
      <i class="glyphicon glyphicon-white"></i>
    </a>
  </div>
</div>
