<div data-ng-init="findOne()">
  <div class="page-header">
    <h3 data-ng-bind="tshirt.name"></h3>
  </div>

  <form class="form-horizontal" novalidate>
    <fieldset>
      <div class="col-md-12">
        <div class="col-md-6">
          <label class="control-label" for="fimage">Front image</label>
          <img id="fimage" type="text" data-ng-src="{{tshirt.frontImageUrl}}"/>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="bimage">Back image</label>
          <img id="bimage" type="text" data-ng-src="{{tshirt.backImageUrl}}"/>
        </div>
      </div>

      <div class="form-group">
        <table ng-table="variantsTableParams" show-filter="false"
               class="table table-bordered">
          <tr ng-repeat="variant in $data">
            <td data-title="'Name'">
              <span ng-if="!variant.$edit">{{variant.name}}</span>
              <div ng-if="variant.$edit">
                <input class="form-control" type="text" ng-model="variant.name" />
              </div>
            </td>
            <td data-title="'Description'">
              <span ng-if="!variant.$edit">{{variant.description}}</span>
              <div ng-if="variant.$edit">
                <input class="form-control" type="text" ng-model="variant.description" />
              </div>
            </td>
            <td data-title="'Base cost'">
              <span ng-if="!variant.$edit">{{variant.baseCost}}</span>
              <div ng-if="variant.$edit">
                <input class="form-control" type="text" ng-model="variant.baseCost" />
              </div>
            </td>
            <td data-title="'Unit'">
              <span ng-if="!variant.$edit">{{variant.unit}}</span>
              <div ng-if="variant.$edit">
                <input class="form-control" type="text" ng-model="variant.unit" />
              </div>
            </td>
            <td data-title="'Colors'">
              <span ng-if="!variant.$edit">
                <a class="color-preview btn"
                   data-ng-repeat="color in variant.colors"
                   style="background-color:{{color}};">
                </a>
              </span>

              <span ng-if="variant.$edit">
                <div data-ng-repeat="color in variant.colors">
                  <a class="color-preview btn"
                     style="background-color:{{color}};">
                  </a>
                  <a class="btn"
                     data-ng-click="removeVariantColor(variant, color)">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                </div>

                <p class="btn btn-default" data-placement="top" data-original-title="Font Color">
                  <input colorpicker colorpicker-position="top" data-ng-model="variant.color">
                  <a id="tshirt-add-color" class="btn btn-default"
                     data-ng-click="addVariantColor(variant, variant.color)"
                     data-original-title="Italic">
                    Add
                  </a>
                  <div data-ng-show="variant.error" class="text-danger">
	            <strong data-ng-bind="variant.error"></strong>
                  </div>
                </p>
              </span>
            </td>
            <td data-title="'Actions'" width="150">
              <a data-ng-if="!variant.$edit" href=""
                 class="btn btn-primary"
                 data-ng-click="onVariantEdit(variant)">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a ng-if="variant.$edit"
                 class="btn btn-primary btn-xs"
                 data-ng-click="onVariantSave(variant)">Save</a>
              <a class="btn btn-primary" data-ng-click="onVariantRemove(variant);">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </td>
          </tr>
        </table>
        <hr/>
        <button class="btn btn-default" data-ng-click="addTshirtVariant()">
          New variant
        </button>
        <div class="pull-right" data-ng-show="authentication.user._id == tshirt.user._id">
          <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>

      </div>
    </fieldset>
    <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="tshirt.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="tshirt.user.displayName"></span>
    </em>
  </small>
</div>
