<div class="page-wrapper"
     data-ng-class="{'open': toggle}"
     data-ng-init="ensureAuthenticated()"
     ng-cloak>
  <section>
    <!-- Sidebar -->
    <div class="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a ui-sref="dashboard.tshirts">Tshirts <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="dashboard.campaigns">Campaigns <span class="menu-icon fa fa-table"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div class="content-wrapper">
      <div class="page-content">

        <!-- Main Content -->
        <div ui-view="dashboardPanel"></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </section>
</div><!-- End Page Wrapper -->
