<div class="page-wrapper"
     data-ng-class="{'open': toggle}"
     ng-cloak>
    <!-- Sidebar -->
    <div class="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a>
            Mootee
            <span data-ng-click="toggleSidebar()"
                  class="menu-icon glyphicon glyphicon-transfer">
            </span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a ui-sref="dashboard.profile">
            Profile
            <span class="menu-icon fa fa-user"></span>
          </a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="dashboard.front">
            Dashboard
            <span class="menu-icon fa fa-dashboard"></span>
          </a>
        </li>
        <li class="sidebar-list" permission="admin">
          <a ui-sref="dashboard.tshirts">
            Tshirts
            <span class="menu-icon fa fa-circle-o-notch"></span>
          </a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="dashboard.campaigns">
            Campaigns
            <span class="menu-icon fa fa-tasks"></span>
          </a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="dashboard.orders">
            Orders
            <span class="menu-icon fa fa-trophy"></span>
          </a>
        </li>
        <li class="sidebar-list" permission="admin">
          <a ui-sref="dashboard.images">
            Images
            <span class="menu-icon fa fa-image"></span>
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="" target="_blank">
            Home
          </a>
        </div>
        <div class="col-xs-4">
          <a href="" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div class="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item">
                <div data-animation="am-flip-x" data-html="true"
                     data-placement="bottom-right" bs-dropdown="userDropdown">
                  <img src="images/brand/favicon.ico">
                </div>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                <div ncy-breadcrumb></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view="dashboardPanel"></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
