<div class="row alerts-container"
     data-ng-controller="DashboardAlertController"
     data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts"
           type="{{alert.type}}"
           close="closeAlert($index)">
      {{alert.msg}}
    </alert>
  </div>
</div>

<div class="row" data-ng-init="fetchData()">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <dashboard-widget>
      <dashboard-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-money"></i>
        </div>
        <div class="title">{{ totalIncome || 0 }}</div>
        <div class="comment">Total income</div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <dashboard-widget>
      <dashboard-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-trophy"></i>
        </div>
        <div class="title">{{ totalOrders || 0 }}</div>
        <div class="comment">Orders</div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <dashboard-widget>
      <dashboard-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">{{ totalCampaigns || 0 }}</div>
        <div class="comment">Total Campaigns</div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <dashboard-widget>
      <dashboard-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">{{ activeCampaigns || 0 }}</div>
        <div class="comment">Active campaigns</div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 row"
       data-ng-controller="CampaignsGraphController">
    <dashboard-graph title="Campaigns overview"
                     load-data="loadCampaignData">
    </dashboard-graph>
  </div>
  <div class="col-lg-6 row"
       data-ng-controller="OrdersGraphController">
    <dashboard-graph title="Orders overview"
                     load-data="loadOrdersData">
    </dashboard-graph>
  </div>
</div>
