<div class="row">
  <div class="col-lg-6" data-ng-controller="SettingsController">
    <dashboard-widget>
      <dashboard-widget-header icon="fa-money"
                               title="Connect with Stripe">
      </dashboard-widget-header>
      <dashboard-widget-body>
        <div class="text-left row">
          <span data-ng-hide="isConnectedSocialAccount('stripe')">
            <a href="/auth/stripe">
              <img src="/modules/users/img/buttons/stripe-blue.png">
            </a>
            <span>to receive your payments.</span>
          </span>
          <span data-ng-hide="!isConnectedSocialAccount('stripe')">
            <span>Your stripe account is already setup.</span>
          </span>
        </div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
  <div class="col-lg-6" data-ng-controller="SettingsController">
    <dashboard-widget>
      <dashboard-widget-header icon="fa-qq"
                               title="Connect with other social acounts">
      </dashboard-widget-header>
      <dashboard-widget-body>
        <div class="text-center row">
          <a href="/auth/facebook"
             data-ng-hide="isConnectedSocialAccount('facebook')"
             class="undecorated-link fa fa-facebook fa-4x col-md-2">
          </a>
          <a href="/auth/twitter"
             data-ng-hide="isConnectedSocialAccount('twitter')"
             class="undecorated-link fa fa-twitter fa-4x col-md-2">
          </a>
          <a href="/auth/google"
             data-ng-hide="isConnectedSocialAccount('google')"
             class="undecorated-link fa fa-google-plus fa-4x col-md-2">
          </a>
          <a href="/auth/linkedin"
             data-ng-hide="isConnectedSocialAccount('linkedin')"
             class="undecorated-link fa fa-linkedin fa-4x col-md-2">
          </a>
          <a href="/auth/github"
             data-ng-hide="isConnectedSocialAccount('github')"
             class="undecorated-link fa fa-github fa-4x col-md-2">
          </a>
        </div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6" data-ng-controller="SettingsController">
    <dashboard-widget>
      <dashboard-widget-header icon="fa-edit" title="Edit profile">
        <a type="submit" class="btn btn-sm btn-info"
           data-ng-click="updateUserProfile()">
          <i class="fa fa-save"></i>
          Save Profile
        </a>
      </dashboard-widget-header>
      <dashboard-widget-body>
        <div>
          <table class="table table-striped">
            <tr>
              <td>First Name</td>
              <td>
                <input type="text" id="firstName" name="firstName"
                       class="form-control" data-ng-model="user.firstName"
                       placeholder="First Name">
              </td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>
                <input type="text" id="lastName" name="lastName"
                       class="form-control" data-ng-model="user.lastName"
                       placeholder="Last Name">
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td>
                <input type="email" id="email" name="email"
                       class="form-control" data-ng-model="user.email"
                       placeholder="Email">
              </td>
            </tr>
            <tr>
              <td>Username</td>
              <td>
                <input type="text" id="username" name="username"
                       class="form-control" data-ng-model="user.username"
                       placeholder="Username">
              </td>
            </tr>
          </table>
          <div data-ng-show="success" class="text-center text-success">
            <strong>Profile Saved Successfully</strong>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
</div>
