<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
  <p>Dear {{name}},</p>
  <p></p>
  <p>
    Congratulations! This is a confirmation that you have
    successfully created your campaign <a href={{campaign_url}}>{{campaign_name}}</a>.
    Your can monitor your campaign using dashboard.
  </p>
  <p>
    If you have any questions, please do not hesitate to reach us at
    {{contact_email}}.
  </p>

  <br/>
  <p>Thanks!</p>
  <p>The {{appName}} Team</p>
</body>

</html>
