<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
  <p>Dear {{name}},</p>
  <p></p>
  <p>
    Congratulations! This is a confirmation that you have
    successfully created your campaign <a href={{campaign_url}}>{{campaign_name}}</a>.
  </p>
  <br>
  <br>
  <p>
    Your can monitor your campaign using dashboard. If you have any
    questions, please do not hesitate to reach us at
    {{contact_email}}.
  </p>

  <p>Thanks!</p>
  <p>The {{appName}} Support Team</p>
</body>

</html>
