<div class="container">
  <section>
    <div class="span12">
      <div class="col-lg-4">
        <div class="well">
          <table class="table table-bordered">
            <tr>
              <th>
                <label class="control-label" for="quantity">
                  Quantity
                </label>
              </th>
              <th>
                <label class="control-label" for="size">
                  Size
                </label>
              </th>
              <th>
                <label class="control-label" for="price">
                  Price
                </label>
              </th>
            </tr>
            <tr>
              <td>
                <input type="text" data-ng-model="quantity"
                       id="quantity" class="form-control"
                       placeholder="1" size="3" required>
              </td>
              <td>
                <select data-ng-model="tshirtSize" id="size"
                        data-ng-options="size for size in sizes"
                        class="form-control"
                        required>
              </td>
              <td>
                <label class="control-label" for="name">
                  {{orderedCampaign.price.value}} {{orderedCampaign.price.unit}}
                </label>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" data-ng-model="email"
                       id="email" class="form-control"
                       placeholder="Email address (for receipt)"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" data-ng-model="fullname"
                       id="fullname" class="form-control"
                       placeholder="Full Name"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" data-ng-model="shippingAddr"
                       id="shippingAddr" class="form-control"
                       placeholder="Shipping address"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" data-ng-model="roomNum"
                       id="roomNum" class="form-control"
                       placeholder="Apt/suite"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="text" data-ng-model="city"
                       id="city" class="form-control"
                       placeholder="City"
                       required>
              </td>
              <td colspan="1">
                <input type="text" data-ng-model="zipcode"
                       id="zipcode" class="form-control"
                       placeholder="Zip code"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <select data-ng-model="country" id="country"
                        data-ng-options="country for country in countries"
                        class="form-control"
                        required>
              </td>
            </tr>
          </table>
          <a id="order"
             data-ng-click="orderCampaign('Meanadex', orderedCampaign)"
             type="button"
             class="btn btn-lg btn-block btn-success"
             name="order">
            Pay with card
            <i class="glyphicon glyphicon-shopping-cart glyphicon-white"></i>
          </a>
	  <div data-ng-show="error" class="text-danger">
	    <strong data-ng-bind="error"></strong>
	  </div>
        </div>
      </div>
      <div class="col-lg-8">
        <!-- use json from the current campaign instead -->
        <md-tshirt-canvas></md-tshirt-canvas>
      </div>
    </div>
  </section>
</div>
