<div class="container">
  <section>
    <div class="span12">
      <div class="col-lg-4">
        <div class="well">
          <form name="orderForm">
          <table class="table table-bordered">
            <tr>
              <th>
                <label class="control-label" size="3" for="quantity">
                  Quantity
                </label>
              </th>
              <th>
                <label class="control-label" for="size">
                  Size
                </label>
              </th>
              <th>
                <label class="control-label" size="5" for="price">
                  Price
                </label>
              </th>
            </tr>
            <tr>
              <td>
                <input type="number" data-ng-model="quantity"
                       id="quantity" class="form-control"
                       required="quantity is required"
                       data-ng-minlength=1 name="quantity"
                       placeholder="1" size="3" data-ng-required="true">
              </td>
              <td>
                <select data-ng-model="tshirtSize" id="size"
                        data-ng-options="size for size in sizes"
                        class="form-control"
                        required>
              </td>
              <td>
                <label class="control-label" size="5" for="name">
                  {{totalPrice(quantity)}} {{orderedCampaign.price.currency}}
                </label>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="email" data-ng-model="email"
                       id="email" class="form-control" name="email"
                       placeholder="Email address (for receipt)"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" data-ng-model="shippingAddr.name"
                       id="fullname" class="form-control"
                       placeholder="Full Name" name="fullname"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" data-ng-model="shippingAddr.street"
                       id="shippingAddr" class="form-control"
                       placeholder="Street name" name="shippingAddr"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" data-ng-model="shippingAddr.roomNum"
                       id="roomNum" class="form-control"
                       placeholder="Apt/suite" name="roomNum"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="text" data-ng-model="shippingAddr.city"
                       id="city" class="form-control"
                       placeholder="City" name="city"
                       required>
              </td>
              <td colspan="1">
                <input type="text" data-ng-model="shippingAddr.zipcode"
                       id="zipcode" class="form-control"
                       placeholder="Zip code" name="zipcode"
                       required>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <select data-ng-model="country" id="shippingAddr.country"
                        data-ng-options="country for country in countries"
                        class="form-control"
                        required>
              </td>
            </tr>
          </table>
          </form>
	  <div data-ng-show="error" class="text-danger">
            <ul>
              <li data-ng-repeat="msg in error.messages">
                {{msg}}
              </li>
            <ul>
	  </div>
          <a id="order"
             data-ng-click="orderCampaign('Meanadex', orderedCampaign)"
             type="button"
             class="btn btn-lg btn-block btn-success"
             name="order">
            Pay with card
            <i class="glyphicon glyphicon-shopping-cart glyphicon-white"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <!-- use json from the current campaign instead -->
        <md-tshirt-canvas></md-tshirt-canvas>
      </div>
    </div>
  </section>
</div>
