<div id="list-all-orders"
     data-ng-init="loadAllOrdersInTableData()"
     class="row">
  <div class="col-lg-12" data-ng-show="orders.documents.length > 0">
    <dashboard-widget>
      <dashboard-widget-header icon="fa-trophy" title="Orders">
        <a href="#">Manage</a>
      </dashboard-widget-header>
      <dashboard-widget-body>
        <div class="table-responsive">
          <table ng-table="tableParams"
                 template-pagination="custom/pager"
                 show-filter="true"
                 class="table table-bordered">
            <tr ng-repeat="order in $data.documents">
              <td data-title="'Provider'">
                <span>{{order.provider}}</span>
              </td>
              <td data-title="'Amount'">
                <span>{{order.amount}} {{order.currency}}</span>
              </td>
              <td data-title="'Email'">
                <span>{{order.email}}</span>
              </td>
              <td data-title="'Campaign'" filter="{ 'campaign': 'text' }">
                <a data-ng-href="#!/campaigns/{{order.campaign._id}}">{{order.campaign.name}}</a>
              </td>
              <td data-title="'Created at'">
                <span>{{order.created | date:'medium'}}</span>
              </td>
              <td data-title="'Actions'">
                <a class="undecorated-link fa fa-trash-o fa-lg" data-ng-click="onRemove(order);"/>
              </td>
            </tr>
          </table>
          <div>
            <ul class="nav nav-pills">
              <li data-ng-class="{disabled: disablePrev()}">
                <a class="fa fa-arrow-circle-left fa-lg"
                   data-ng-click="gotoPage(orders.prevPage, disablePrev())">
                  Previous
                </a>
              </li>
              <li data-ng-class="{disabled: disableNext()}">
                <a class="fa fa-arrow-circle-right fa-lg"
                   data-ng-click="gotoPage(orders.nextPage, disableNext())">
                  Next
                </a>
              </li>
          </div>
        </div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
  <div class="row alerts-container"
       data-ng-hide="!orders.$resolved || orders.documents.length">
    <div class="col-xs-12">
      <alert type="success">
        No orders yet.
      </alert>
    </div>
  </div>
  <script type="text/ng-template" id="custom/pager">
  </script>
</div>
