<div id="list-all-orders" data-ng-init="loadAllOrdersInTableData()">
  <div class="col-lg-12" data-ng-show="orders.length > 0">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
      <tr ng-repeat="order in $data">
        <td data-title="'Provider'">
          <span>{{order.provider}}</span>
        </td>
        <td data-title="'Amount'">
          <span>{{order.amount}} {{order.unit}}</span>
        </td>
        <td data-title="'Email'">
          <span>{{order.email}}</span>
        </td>
        <td data-title="'Campaign'" filter="{ 'campaign': 'text' }">
          <a data-ng-href="#!/campaigns/{{order.campaign._id}}">{{order.campaign.name}}</a>
        </td>
        <td data-title="'Created at'">
          <span>{{order.created_at | date:'medium'}}</span>
        </td>
        <td data-title="'Actions'">
          <a class="fa fa-trash-o fa-fw" data-ng-click="onRemove(order);"/>
        </td>
      </tr>
    </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!orders.$resolved || orders.length">
    No Orders yet.
  </div>
</div>
