<div id="shirtDiv" class="page tshirtDiv">
  <img id="tshirtFacing"></img>
  <div id="drawingArea"
       class="tshirtDrawingArea"
       data-ng-mouseenter="addCanvasBorder()"
       data-ng-mouseleave="removeCanvasBorder()">
    <canvas id="tcanvas" width="200" height="400" class="hover tshirtCanvas"></canvas>
  </div>

  <div class="flipButtonDiv">
    <button id="flip"
            type="button"
            class="btn monadex-btn-primary">
      <span class="fa fa-retweet">
      </span>
      Show Back View
    </button>
  </div>
</div>
