<div class="container" data-ng-controller="DesignerController">
  <section id="typography">
    <div class="row">
      <div class="col-lg-3">
        <md-tshirt-design-panel images="images" fonts="fonts"></md-tshirt-design-panel>
      </div>

      <div class="col-lg-6">
        <md-tshirt-canvas></md-tshirt-canvas>
      </div>

      <div class="col-lg-3">
        <md-tshirt-style-quality-panel base-cost="baseCost"
                                       tshirt-types="tshirtTypes"
                                       colors="colors">
        </md-tshirt-style-quality-panel>
      </div>
    </div>
  </section>
</div>
