<!-- Headings & Paragraph Copy -->
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#text-pane" data-toggle="tab" class="tab-link">Add Text</a></li>
    <li><a href="#art-pane" data-toggle="tab" class="tab-link">Add/upload art</a></li>
  </ul>
  <br>
  <div class="tab-content">
    <div class="tab-pane active" id="text-pane">
      <div class="well">
        <md-text-input></md-text-input>
      </div>
    </div>
    <div class="tab-pane" id="art-pane">
      <div class="well" data-ng-hide="inUploadPage">
        <button type="button"
                class="btn btn-md btn-primary center"
                data-animation="am-fade-and-scale"
                data-placement="center"
                data-template="modules/designer/views/image-page.client.view.html"
                bs-modal="modal">
          Search for artwork
        </button>

        <div class="clearfix"></div>
        <br/>
        <div style="text-align: center;">
          <span>Or</span>
        </div>
        <br/>

        <button type="button"
                class="btn btn-md btn-primary btn-file center">
          <input nv-file-select="" type="file" uploader="uploader" multiple>
          Upload your own
          </input>
        </button>

        <div class="clearfix"></div>
        <br/>
        <div style="text-align: center;">
          <span>Or</span>
        </div>
        <br/>

        <div ng-show="uploader.isHTML5">
          <div nv-file-drop="" uploader="uploader"
               options="{ url: '/foo' }">
            <div nv-file-over="" uploader="uploader"
                 class="well drop-zone">
              Drop image here
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
