<div class="modal" role="dialog" id="emptyCanvasModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-ng-click="$hide()">
          &times;
        </button>
        <h4 class="modal-title center text-center">Your need to create a design.</h4>
      </div>
      <div class="modal-body text-center">
        <small>Unfortunately, you can't sell a blank item. You need
          to add text or art before you can continue.</small>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn monadex-btn-primary center-block"
                data-ng-click="$hide()">
          Go back to designer
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
