<div class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid row">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <div class="input-group col-lg-5">
            <input type="text"
                   ng-model="selectedIcon"
                   class="form-control"
                   data-min-length="0"
                   data-html="1"
                   data-animation="am-flip-x"
                   data-backdrop="true"
                   ng-options="icon as icon.label for icon in icons"
                   placeholder="Artwork Types" bs-typeahead>
            <span class="input-group-btn">
              <button class="btn btn-primary btn-md">Search</button>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-body row">
        <div class="container-fluid row">
          <div id="avatarlist"
               class="avatarlist col-lg-3 col-md-4 col-sm-6"
               ng-repeat="img in images | filter:query">
            <img style="cursor:pointer;"
                 class="img-thumbnail"
                 data-ng-src="{{img.src}}"
                 data-ng-click="addImage(img.src)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                ng-click="$hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
