<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Sidebar content-->
      <input ng-model="query" class="form-control" type="text" placeholder="Search arts here...">
    </div>
  </div>
  <br class="divide"/>
  <div class="row">
      <!--Body content-->
      <div id="avatarlist" class="avatarlist col-md-6" ng-repeat="img in images | filter:query">
        <img style="cursor:pointer;" class="img-thumbnail" ng-src="{{img.src}}">
      </div>
  </div>
</div>
