<h5>Enter text below</h5>
<div class="input-group">
  <textarea autocomplete="off"
    id="text-string"
    class="form-control"
    ng-model="inputText"
    msd-elastic
    ng-keyup="addOrEditText()"
    placeholder="Add your text here">
  </textarea>
</div>
<br>

<h5>Choose a font</h5>
<!-- TODO: set the style of the list -->
<div class="input-group">
  <button ng-model="currentFont"
          data-html="1"
          data-ng-options="font as font.label for font in fonts"
          data-ng-change="changeFontFamily()"
          type="button"
          class="btn btn-default"
          data-animation="am-flip-x"
          bs-select>
  </button>
</div>
<br>

<h5>Text color</h5>
<p class="btn monadex-btn-primary" href="/#!/" data-placement="top"
   data-original-title="Font Color">
  <input colorpicker
         colorpicker-position="top"
         data-ng-change="changeColorText()"
         data-ng-model="fontColor">
  </input>
</p>
<br><br>

<h5>Text style</h5>
<button id="text-bold"
        class="btn monadex-btn-primary"
        data-original-title="Bold"
        data-ng-click="changeToBoldText()">
  <img src="modules/designer/img/font_bold.png">
</button>
<button id="text-italic"
        class="btn monadex-btn-primary"
        data-original-title="Italic"
        data-ng-click="changeToItalicText()">

  <img src="modules/designer/img/font_italic.png">
</button>
<button id="text-underline"
        class="btn monadex-btn-primary"
        data-original-title="Underline"
        data-ng-click="changeToUnderlineText()">

  <img src="modules/designer/img/font_underline.png">
</button>
<br>
