<div class="container" data-ng-init="ensureAuthenticated()">
  <section >
    <div data-ng-if="isAuthorized()">
      <ul class="nav nav-tabs">
        <li class="active">
          <a ng-click="listTshirts()" data-toggle="tab" class="tab-link">
            Manage Tshirt Types
          </a>
        </li>
        <li>
          <a href="#manage-campaigns-pane" data-toggle="tab" class="tab-link">
            Manage Campaigns
          </a>
        </li>
      </ul>
      <br>
      <div class="tab-content">
        <div ui-view="tshirtView"></div>
        <!--
        <div class="tab-pane active" id="manage-tshirts-pane"
             data-ng-controller="TshirtsController"
             data-ng-init="find()">
          <md-list-tshirts/>
        </div>
        <div class="tab-pane" id="manage-campaigns-pane">
          <div class="well">
            manage campaigns
          </div>
        </div>
        -->
      </div>
    </div>
    <div data-ng-if="!isAuthorized()">
      You do not have permission to see this page.
    </div>
  </section>
</div>
