<div class="container" data-ng-init="ensureAuthenticated()">
  <section >
    <div data-ng-if="isAuthorized()">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-ng-click="listTshirts()" data-toggle="tab"
             class="tab-link">
            Manage Tshirt Types
          </a>
        </li>
        <li>
          <a ui-sref="admin.campaigns" data-toggle="tab"
             class="tab-link" data-target="list-campaigns">
            Manage Campaigns
          </a>
        </li>
      </ul>
      <br>
      <div class="tab-content">
        <div ui-view="adminPanel"></div>
      </div>
    <div data-ng-if="!isAuthorized()">
      You do not have permission to see this page.
    </div>
  </section>
</div>
