/* core css stylesheet */
@import (reference) "../../../lib/bootstrap/less/mixins.less";
@import "variables.less";

.app-entrance {
  background-color: white;
}

.main-app {
  background-color: white;
  height: 100%;
  min-height: 100%;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty{
  border-color:#FA787E;
}
.ng-valid.ng-dirty{
  border-color:#78FA89;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


//.footer {
//  padding: 70px 0;
//  margin-top: 70px;
//  border-top: 1px solid #E5E5E5;
//  background-color: whiteSmoke;
//}

/* landing css */

hr.star-light, hr.star-primary {
  padding: 0;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

hr.star-light:after, hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -.8em;
  font-size: 2em;
  padding: 0 .25em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
}

section.face-section hr.star-light:after {
  background-color: @faceColor;
}

section hr.star-light:after {
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  background-color: #fff;
  color: #2c3e50;
}

//section {
//  padding: 100px 0;
//}
//
//section h2 {
//  margin: 0;
//  font-size: 3em;
//}

section.success {
  background: @faceColor; /* swedish blue */
  color: @baseColor;
}

section.success h2 a{
  color: @baseColor; /* swedish blue */
  text-decoration: none;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-outline {
  color: #fff;
  font-size: 20px;
  border: solid 2px #fff;
  background: @faceColor;
  transition: all .3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: @baseColor;
  background-color: green;
  border: solid 2px #fff;
}

.monadex-btn-major {
  .button-variant(@faceColor; @baseColor; @baseColor);
}

.monadex-btn-major-reverse {
  .button-variant(@baseColor; @faceColor; @baseColor);
}

.monadex-btn-primary {
  .button-variant(@faceColor; white; lightgrey);
}

.well{
   background: white;
   border: solid 1px lightgrey;
}

.container-fluid > .row {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.input-group > button {
   background: white;
   border: solid 1px lightgrey;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .caption {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  color: @baseColor;
}

header .intro-text .sub-caption {
  color: white;
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width:768px) {
  header .intro-text .caption {
    font-size: 5em;
  }
  header .intro-text .sub-caption {
    font-size: 1.75em;
  }
}
