@import "variables.less";

.social-icons { text-align: center; }
.social-icons .btn-social {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background-color: @faceColor;
}
.social-icons .facebook:hover { background-color: #3B5998; }
.social-icons .twitter:hover { background-color: #2DADDC; }
.social-icons .google-plus:hover { background-color: #D14836; }
.social-icons .email:hover { background-color: #FFA500;}
.social-icons .rss:hover { background-color: #f90; }
