/* general color theme */
@baseColor: #fcd116; // swedish yellow
@baseColorLight: lighten(@baseColor, 10%); // for fonts
@baseColorDark: darken(@baseColor, 20%); // for fonts
@baseColorDarker: darken(@baseColor, 30%); // for fonts
@faceColor: #005b99; // swedish blue
@faceColorLight: lighten(@faceColor, 10%); // for fonts
@faceColorDark: darken(@faceColor, 20%); // for fonts
