<section class="row">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn mootee-btn-primary">Sign in</button>&nbsp; or&nbsp;
          <a href="/#!/auth/signup" class="show-signin">Sign up</a>
        </div>
      </fieldset>
    </form>
    <div class="or-box">
      <a href="/#!/auth/authorize?service=facebook"
         class="btn btn-facebook btn-block">
        <i class="fa fa-facebook-official"/>
        Facebook
      </a>
      <a href="/#!/auth/authorize?service=google"
         class="btn btn-google btn-block">
        <i class="fa fa-google-plus"/>
        Google
      </a>
      <a class="forgotLnk" href="/#!/password/forgot">Forgot password?</a>
    </div>
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </div>
</section>
