.ui-slider .ui-slider-range {
    border-color: black;
}

.ui-slider .ui-slider-handle {
    border-color: black;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 100%;
}
