<div class="modal" role="dialog" id="emptyCanvasModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-ng-click="$hide()">
          &times;
        </button>
        <h4 class="modal-title center text-center">Your design is too large.</h4>
      </div>
      <div class="modal-body text-center">
        <small>
          It seems that your design is bigger than ~50MB, try upload
          smaller artworks. Please let
          <a href="mailto:contact@mootee.io?subject=Question">us</a>
          know if you have any question.
        </small>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn mootee-btn-primary center-block"
                data-ng-click="$hide()">
          Got it
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
