<div class="modal" role="dialog" data-ng-init="searchImages('dog')">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid row">
          <button type="button" class="close" ng-click="$hide()">
            &times;
          </button>
          <div class="input-group col-lg-5">
            <form class="input-group" ng-submit="searchImages(searchText)">
              <input type="text"
                     class="form-control"
                     data-min-length="0"
                     data-html="1"
                     data-animation="am-flip-x"
                     data-backdrop="true"
                     data-ng-model="searchText"
                     placeholder="Search images">
              <span class="input-group-btn">
                <button class="btn mootee-btn-primary btn-md"
                        ng-disabled="disableSearch(searchText)">
                  Search
                </button>
              </span>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-body row">
        <div class="container-fluid row">
          <div id="avatarlist"
               class="avatarlist col-lg-3 col-md-4 col-sm-6"
               data-ng-repeat="img in images | filter:query">
            <img style="cursor:pointer;"
                 class="img-thumbnail"
                 data-ng-src="{{img.url}}"
                 data-ng-click="addImage(img.url); $hide()">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn mootee-btn-primary"
                data-ng-click="$hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
