<div id="list-all-orders" class="row" data-ng-init="searchImages('dog')">
  <div class="col-lg-12">
    <dashboard-widget>
      <dashboard-widget-header icon="fa-image" title="Images">
        <a ui-sref="dashboard.createImage">Add image</a>
      </dashboard-widget-header>
      <dashboard-widget-body>
        <div class="row cardContainer show-hide-animation">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <form class="input-group" ng-submit="searchImages(searchText)">
              <input type="text"
                     class="form-control"
                     data-min-length="0"
                     data-html="1"
                     data-animation="am-flip-x"
                     data-backdrop="true"
                     data-ng-model="searchText"
                     placeholder="Search images">
              <span class="input-group-btn">
                <button class="btn mootee-btn-primary btn-md"
                        ng-disabled="disableSearch(searchText)">
                  Search
                </button>
              </span>
            </form>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3"
               data-ng-repeat="image in images"
               data-ng-href="#!/images/{{image._id}}">
            <div class="card">
              <a class="close fa fa-times-circle-o fa-2x"
                      data-ng-click="remove(image)">
              </a>
              <div class="cardHeader">
                {{ image.name || 'Anonymous' | limitTo: 15 }}
                {{ image.name > 15 ? '...' : ''}}
              </div>
              <div class="cardBody">
                <div class="clearfix">
                  <a ui-sref="dashboard.viewImage({id: image._id})">
                    <img data-ng-src="{{image.url}}" class="cardImage"></img>
                  </a>
                </div>
              </div>
              <tags-input ng-model="image.tags"
                          on-tag-added="update(image)"
                          on-tag-removed="update(image)">
                <auto-complete source="loadTags()"/>
              </tags-input>
            </div>
          </div>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!images.$resolved || images.length">
          No Images yet
        </div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
</div>
