<div ng-show="uploader.isHTML5">
  <div nv-file-drop="" uploader="uploader"
       options="{ url: '/images' }">
    <div nv-file-over="" uploader="uploader"
         class="well drop-zone">
      Drop image here
    </div>
  </div>
</div>

<input type="file" nv-file-select="" uploader="uploader" multiple />
<div data-ng-if="currentQueueItem">
  <hr/>
  <div ng-show="uploader.isHTML5">
    <md-image-thumb file="currentQueueItem._file" width=200>
    </md-image-thumb>
  </div>
</div>

<span data-ng-if="currentQueueItem">
  <button class="btn btn-primary btn-xs col-md-2"
          data-ng-click="onImageUpload()">
    <span class="glyphicon glyphicon-upload"></span>
    upload
  </button>
  <div data-ng-show="uploader.isHTML5" class="col-md-10">
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar"
           role="progressbar"
           ng-style="{ 'width': currentQueueItem.progress + '%' }">
      </div>
    </div>
  </div>
</span>
