<div class="row" data-ng-controller="ImagesController" data-ng-init="findOne()">
  <div class="col-lg-12">
    <dashboard-widget>
      <dashboard-widget-header icon="fa-image" title="{{Image.name || 'Anonymous'}}">
        <a ui-sref="dashboard.images">All Images</a>
      </dashboard-widget-header>
      <dashboard-widget-body>
        <div class="row">
          <a class="col-lg-8" data-ng-href="{{image.url}}">
            <img data-ng-src="{{image.url}}" height=300/>
          </a>
          <div class="col-lg-4" data-ng-show="authentication.user._id == image.user._id">
            <a class="undecorated-link fa fa-trash fa-2x" data-ng-click="remove(image);">
            </a>
            <tags-input ng-model="image.tags"
                        on-tag-added="update(image)"
                        on-tag-removed="update(image)"></tags-input>
          </div>
        </div>
        <div class="row">
          <small>
            <em class="text-muted">
              Posted on
              <span data-ng-bind="image.created | date:'mediumDate'"></span>
              by
              <span data-ng-bind="image.user.displayName"></span>
            </em>
          </small>
        </div>
      </dashboard-widget-body>
    </dashboard-widget>
  </div>
</div>
