<div class="container" data-ng-controller="ImagesController" data-ng-init="findOne()">
  <section >
    <img src="{{image.url}}" height=300/>
    <h3 data-ng-bind="image.url"></h3>
    <div class="pull-right" data-ng-show="authentication.user._id == image.user._id">
      <a class="btn btn-primary" data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <small>
      <em class="text-muted">
        Posted on
        <span data-ng-bind="image.created | date:'mediumDate'"></span>
        by
        <span data-ng-bind="image.user.displayName"></span>
      </em>
    </small>
  </section>
</div>
