@import "variables.less";

.ui-slider .ui-slider-range {
  border-color: black;
}

.ui-slider .ui-slider-handle {
  border-color: black;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 100%;
  height: 70px;
}

.ngrs-range-slider .ngrs-join {
  background-color: #005b99;
  background-image: -webkit-linear-gradient(#5bc0de, #005b99);
  background-image: -moz-linear-gradient(#5bc0de, #005b99);
  background-image: -o-linear-gradient(#5bc0de, #005b99);
  background-image: -ms-linear-gradient(#5bc0de, #005b99);
  background-image: -webkit-gradient(#5bc0de, #005b99);
  background-image: linear-gradient(#5bc0de, #005b99);
}

.campaignTshirtDiv {
  width: @tshirtDivWidth;
  height: @tshirtDivHeight;
  position: relative;
}

.campaignTshirtArea {
  position: absolute;
  top: @canvasOffsetTop;
  left: @canvasOffsetLeft;
  z-index: 10;
  width: @canvasWidth;
  height: @canvasHeight;
}

.campaignFlipButtonDiv {
  position: absolute;
  top: @tshirtDivHeight - 50px;
  left: 190px;
  z-index: 10;
  width: 50px;
  height: 50px;
}

.campaignProgressDiv {
  z-index: 10;
}

.campaignTitle {
  text-align: center;
}

.landing .campaignTshirtDiv {
  width: @tshirtDivWidth * @canvasLandingScale;
  height: @tshirtDivHeight * @canvasLandingScale;
  position: relative;
}

.landing .campaignTshirtArea {
  position: absolute;
  top: @canvasOffsetTop * @canvasLandingScale;
  left: @canvasOffsetLeft * @canvasLandingScale;
  z-index: 10;
  width: @canvasWidth * @canvasLandingScale;
  height: @canvasHeight * @canvasLandingScale;
}

.landing .campaignFlipButtonDiv {
  position: absolute;
  top: (@tshirtDivHeight - 40px) * @canvasLandingScale;
  left: 160px * @canvasLandingScale;
  z-index: 10;
  width: 50px * @canvasLandingScale;
  height: 50px * @canvasLandingScale;
}

.landing .campaignProgressDiv {
  margin-top: 25px;
  z-index: 10;
}

.discovery-thumbnail .campaignTshirtDiv {
  width: @tshirtDivWidth * @canvasThumbnailScale;
  height: @tshirtDivHeight * @canvasThumbnailScale;
  position: relative;
}

.discovery-thumbnail .campaignTshirtArea {
  position: absolute;
  top: @canvasOffsetTop * @canvasThumbnailScale;
  left: @canvasOffsetLeft * @canvasThumbnailScale;
  z-index: 10;
  width: @canvasWidth * @canvasThumbnailScale;
  height: @canvasHeight * @canvasThumbnailScale;
}

.discovery-thumbnail .campaignFlipButtonDiv {
  position: absolute;
  top: (@tshirtDivHeight - 30px) * @canvasThumbnailScale;
  left: 130px * @canvasThumbnailScale;
  z-index: 10;
  width: 50px * @canvasThumbnailScale;
  height: 50px * @canvasThumbnailScale;
}

.discovery-thumbnail .campaignProgressDiv {
  margin-top: 30px;
  z-index: 10;
}

.campaignLengthEnding {
  color: grey;
}
