<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>mootee</title>

    <!-- Google's Ajax Crawling: https://developers.google.com/webmasters/ajax-crawling -->
    <meta name="fragment" content="!">

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Fav Icon -->
    <link href="images/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!--Livereload script rendered -->
    <script type="text/javascript" src="https://localhost:35728/livereload.js"></script>

    <!-- build:js(bower_components) js/libs.js -->
    <script src="jquery/dist/jquery.js"></script>
    <script src="lodash/dist/lodash.underscore.js"></script>
    <script src="async/lib/async.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-resource/angular-resource.js"></script>
    <script src="angular-cookies/angular-cookies.js"></script>
    <script src="angular-strap/dist/angular-strap.js"></script>
    <script src="angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="angular-touch/angular-touch.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-ui-utils/ui-utils.js"></script>
    <script src="fabric/dist/fabric.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="rangy/rangy-core.js"></script>
    <script src="rangy/rangy-selectionsaverestore.js"></script>
    <script src="textAngular/src/textAngularSetup.js"></script>
    <script src="textAngular/src/textAngular-sanitize.js"></script>
    <script src="textAngular/src/textAngular.js"></script>
    <script src="moment/moment.js"></script>
    <script src="angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script src="angular-rangeslider/angular.rangeSlider.js"></script>
    <script src="angular-local-storage/angular-local-storage.js"></script>
    <script src="ng-table/ng-table.js"></script>
    <script src="angular-data/dist/angular-data.js"></script>
    <script src="angular-timer/dist/angular-timer.js"></script>
    <script src="angular-file-upload/angular-file-upload.js"></script>
    <script src="d3/d3.js"></script>
    <script src="nvd3/nv.d3.js"></script>
    <script src="angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="ng-tags-input/ng-tags-input.js"></script>
    <script src="angular-breadcrumb/dist/angular-breadcrumb.js"></script>
    <script src="jquery-nicescroll/jquery.nicescroll.js"></script>
    <script src="slick-carousel/slick/slick.js"></script>
    <script src="angular-elastic/elastic.js"></script>
    <script src="share-button/build/share.js"></script>
    <script src="angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbuild -->

    <script src="js/application.js"></script>
    <script src="js/templates.js"></script>

    <!-- build:css(bower_components) css/libs.css -->
    <link rel="stylesheet" href="normalize.css/normalize.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="angular-bootstrap-colorpicker/css/colorpicker.css">
    <link rel="stylesheet" href="ng-table/ng-table.css">
    <link rel="stylesheet" href="nvd3/nv.d3.css">
    <link rel="stylesheet" href="angular-rangeslider/angular.rangeSlider.css">
    <link rel="stylesheet" href="ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="angular-motion/dist/angular-motion.css">
    <link rel="stylesheet" href="slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="textAngular/src/textAngular.css">
    <link rel="stylesheet" href="angular-loading-bar/build/loading-bar.css"></link>
    <!-- endbuild -->

    <link rel="stylesheet" href="css/application.css">
  </head>
  <body class="pag-home ng-cloak"
        id="anch-top"
        data-spy="scroll"
        data-ng-init="initFeaturedCampaigns()"
        data-ng-controller="HeaderController"
        data-target=".navbar">

    <div class="layout">
      <!-- Layout -->
      <div ng-show="isLanding() || isMainApp()" class="main-app">
        <header>
          <!-- SLIDESHOW -->
          <section class="slideshow" ng-show="isLanding()">
            <div class="container-fluid">
              <div class="r1 row">
                <div class="c1 col-md-12">
                  <div class="carousel slide" id="slideshow-carousel-1" data-ride="carousel">
                    <!-- Wrapper for Slides -->
                    <div class="carousel-inner">
                      <!-- Slide 2 -->
                      <div class="item active parallax" data-speed="2">
                        <div class="carousel-caption">
                          <div class="c3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="img-responsive center-block" src="images/moose.jpg" alt="Image">
                            <div class="intro-text">
                              <span class="caption">Design Your Own T-Shirts</span>
                              <span class="sub-caption">And Sale To The Rest Of The World!</span>
                            </div>
                            <br/>
                            <br/>
                            <button data-ng-click="gotoDesigner()"
                                    class="btn mootee-btn-major-reverse click-loading">
                              Get Started Now!
                            </button>
                          </div>
                        </div>
                      </div><!-- End Slide 2 -->
                    </div><!-- End Wrapper for Slides -->
                  </div>
                </div>
              </div>
            </div>
          </section><!-- END SLIDESHOW -->
          <!-- NAVBAR for landing -->
          <nav class="landing navbar navbar-default" ng-show="isLanding()" role="navigation">
            <div class="container-fluid">
              <!-- Brand and Toggle -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-landing">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#anch-top"><span>Mootee</span></a>
              </div><!-- End Brand and Toggle -->
              <!-- Menu -->
              <div class="collapse navbar-collapse" id="navbar-collapse-landing">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="#anch-top">Home</a>
                  </li>
                  <li>
                    <a href="#anch-why">Why</a>
                  </li>
                  <li>
                    <a href="#anch-how">How</a>
                  </li>
                  <li>
                    <a href="#anch-campaigns">Campaigns</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li data-ng-hide="isLoggedIn">
                    <a href="/#!/auth/signin" class="goFromLanding">Login or Register</a>
                  </li>
                  <li data-ng-show="isLoggedIn">
                    <a href="/#!/dashboard/front" class="click-loading">Open dashboard</a>
                  </li>
                  <li data-ng-show="isLoggedIn">
                    <a href="/#!/auth/deauthorize">Signout</a>
                  </li>
                </ul>
              </div><!-- End Menu -->
            </div>
          </nav><!-- END NAVBAR -->
          <!-- NAVBAR for main app-->
          <nav class="main navbar navbar-default" ng-show="isMainApp()" role="navigation">
            <div class="container-fluid">
              <!-- Brand and Toggle -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/landing"><span>Mootee</span></a>
              </div><!-- End Brand and Toggle -->
              <!-- Menu -->
              <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right">
                  <li data-ng-hide="isLoggedIn">
                    <a href="/#!/auth/signin" class="goFromLanding">Login or Register</a>
                  </li>
                  <li data-ng-show="isLoggedIn">
                    <a href="/#!/dashboard/front" class="click-loading">Open dashboard</a>
                  </li>
                  <li data-ng-show="isLoggedIn">
                    <a href="/#!/auth/deauthorize">Signout</a>
                  </li>
                </ul>
              </div><!-- End Menu -->
            </div>
          </nav><!-- END NAVBAR -->
        </header><!-- END HEADER -->

        <div class="main" ng-show="isLanding()">
          <!-- Why -->
          <section class="overview" id="anch-why">
            <div class="container">
              <!-- Section Header -->
              <div class="section-header">
                <h2 class="section-title">Why</h2>
                <h3 class="section-subtitle">
                  Focus on your design and sales, we take care of the rest!
                </h3>
              </div><!-- End Section Header -->
              <!-- Section Content -->
              <div class="r1 row">
                <div class="c1 col-md-12">
                  <!-- Tab Panes -->
                  <div class="tab-content">
                    <!-- Tab Pane 2 -->
                    <div class="tab-pane fade in active" id="overview-tab-2">
                      <div class="r1 row">
                        <!-- Block 1 -->
                        <div class="c1 col-sm-4 col-md-4 col-sm-push-4 animateblock size-img speed-2">
                          <div class="img-wireframe">
                            <img class="img-responsive center-block img-4" src="images/tshirt-logo-inverse.png" alt="Image">
                            <img class="img-responsive center-block img-5" src="images/tshirt-logo.png" alt="Image">
                          </div>
                        </div><!-- End Block 1 -->
                        <!-- Block 2 -->
                        <div class="c2 col-sm-4 col-md-4 col-sm-pull-4 animateblock ltr-3 speed-3">
                          <div class="overview-wrapper">
                            <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-edit"></span>
                            </div>
                            <div class="overview-content">
                              <h3 class="title">Easy to design</h3>
                              <p class="description">
                                Use many ready to use artwork or upload your own. There
                                is no limitation to your creativity.
                              </p>
                            </div>
                          </div>
                          <div class="overview-wrapper">
                            <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-share"></span>
                            </div>
                            <div class="overview-content">
                              <h3 class="title">Easy to share</h3>
                              <p class="description">
                                Share your design in your social
                                network or website. It will fit
                                responsively to different sizes of
                                devices.
                              </p>
                            </div>
                          </div>
                          <div class="overview-wrapper">
                            <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                            <div class="overview-content">
                              <h3 class="title">Hard on quality</h3>
                              <p class="description">
                                We only make tshirts with high
                                quality, because it is part of your
                                design as well.
                              </p>
                            </div>
                          </div>
                        </div><!-- End Block 2 -->
                        <!-- Block 3 -->
                        <div class="c3 col-sm-4 col-md-4 animateblock rtl-2 speed-3">
                          <div class="overview-wrapper">
                            <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-usd"></span>
                            </div>
                            <div class="overview-content">
                              <h3 class="title">No upfront cost</h3>
                              <p class="description">
                                No upfront cost in case of
                                fundraiser or events. You keep the
                                profit if your design gets printed.
                              </p>
                            </div>
                          </div>
                          <div class="overview-wrapper">
                            <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-question-sign"></span>
                            </div>
                            <div class="overview-content">
                              <h3 class="title">No guesswork</h3>
                              <p class="description">
                                Your design will be printed when the
                                goal is reached. No guessing on the
                                quantity and size for your customers.
                              </p>
                            </div>
                          </div>
                          <div class="overview-wrapper">
                            <div class="hidden-sm overview-icon"><span class="glyphicon glyphicon-heart"></span>
                            </div>
                            <div class="overview-content">
                              <h3 class="title">No sweat</h3>
                              <p class="description">
                                We will take care of the manufacturing
                                and distribution so you don't need to.
                              </p>
                            </div>
                          </div>
                        </div><!-- End Block 3 -->
                      </div>
                    </div><!-- End Tab Pane 2 -->
                  </div><!-- End Tab Panes -->
                </div>
              </div><!-- End Section Content -->
            </div>
          </section><!-- END Why -->

          <!-- How -->
          <section class="features" id="anch-how">
            <div class="container">
              <!-- Section Header -->
              <div class="section-header">
                <h2 class="section-title">How it works</h2>
                <h3 class="section-subtitle">
                  Design, set a goal and ready to sell!
                </h3>
              </div><!-- End Section Header -->
              <!-- Section Content -->
              <div class="r1 row">
                <!-- Block 1 -->
                <div class="c1 col-sm-6 col-md-4 animateblock ltr-2 speed-2">
                  <div class="features-wrapper">
                    <div class="features-icon"><span class="glyphicon glyphicon-edit"></span>
                    </div>
                    <div class="features-content">
                      <h3 class="title">Design</h3>
                      <p class="description">
                        Design your tshirts with texts and thousands of built-in
                        images. You can even upload your own artwork.
                      </p>
                    </div>
                  </div>
                </div><!-- End Block 1 -->
                <!-- Block 2 -->
                <div class="c2 col-sm-6 col-md-4 animateblock ltr-1 speed-1">
                  <div class="features-wrapper">
                    <div class="features-icon"><span class="glyphicon glyphicon-check"></span>
                    </div>
                    <div class="features-content">
                      <h3 class="title">Set a goal</h3>
                      <p class="description">
                        Set a price and sales goal for your
                        tshirt. No upfront cost, no guessing of
                        demands. We will print and ship your tshirt to
                        your customers if the goal is reached.
                      </p>
                    </div>
                  </div>
                </div><!-- End Block 2 -->
                <!-- Block 3 -->
                <div class="c3 col-sm-6 col-md-4 animateblock rtl-1 speed-1">
                  <div class="features-wrapper">
                    <div class="features-icon"><span class="glyphicon glyphicon-thumbs-up"></span>
                    </div>
                    <div class="features-content">
                      <h3 class="title">Ready to sell!</h3>
                      <p class="description">
                        It is ready to sell! Share your tshirt on your social
                        network or your website and let the world know
                        how awesome a designer you are. We will transfer the
                        profit directly to your account.
                      </p>
                    </div>
                  </div>
                </div><!-- End Block 3 -->
              </div><!-- End Section Content -->
            </div>
          </section><!-- END How -->

          <!-- Campaigns gallery -->
          <section class="gallery"
                   id="anch-campaigns">
            <div class="container">
              <!-- Section Header -->
              <div class="section-header">
                <h2 class="section-title">Featured campaigns</h2>
                <h3 class="section-subtitle">
                  <a href="/#!/discover_campaigns"
                     class="btn mootee-btn-major-reverse goFromLanding">
                    Discover more awesome campaigns!
                  </a>
                </h3>
              </div><!-- End Section Header -->
              <!-- Section Content -->
              <div class="r1 row">
                  <div class="col-sm-12 col-md-6 col-lg-3"
                       data-ng-repeat="featuredCampaign in featuredCampaigns.documents">
                    <md-campaign-canvas scale="0.5" campaign="featuredCampaign" class="campaign-thumbnail">
                    </md-campaign-canvas>
                  </div>
              </div><!-- End Section Content -->
            </div>
          </section><!-- END Campaigns gallery -->
        </div> <!-- END MAIN -->

        <div data-ng-if="isMainApp()" class="app-entrance-div">
          <div class="container-fluid">
            <div data-ui-view class="app-entrance"></div>
          </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer">
          <div class="container">
            <div class="r1 row">
              <div class="c1 col-md-12">
                <p>
                  We would like to hear from you!
                </p>
                <!-- Social Buttons -->
                <section class="social-icons">
                  <h3 class="hide">Social Buttons</h3>
                  <a class="btn-social facebook"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-original-title="Facebook"
                     href="https://www.facebook.com/mooteeio"
                     title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a class="btn-social twitter"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-original-title="Twitter"
                     href="https://twitter.com/MooteeIO"
                     title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a class="btn-social google-plus"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-original-title="Google+"
                     href="https://plus.google.com/b/101413428577684438642/101413428577684438642"
                     title="Google">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a class="btn-social email"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-original-title="Email"
                     href="mailto:contact@mootee.io?subject=Question"
                     title="Mail">
                    <i class="fa fa-envelope"></i>
                  </a>
                </section><!-- End Social Buttons -->
              </div>
            </div>
          </div>
          <div class="copyright">
            <div class="container">
              <div class="r1 row">
                <div class="c1 col-md-12">
                  <p>&copy; 2015 - Mootee. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </footer><!-- END FOOTER -->
        <a class="go-top" href="#anch-top"><i class="fa fa-chevron-up"></i></a>
      </div>

      <div data-ng-if="isDashboard()">
        <div data-ui-view></div>
      </div>

    </div> <!-- END LAYOUT -->
  </body>
</html>
